@import 'tailwindcss';
@import 'uniwind';
@import 'heroui-native/styles';

@source './node_modules/heroui-native/lib';

@layer theme {
  :root {
    @variant light {
      --font-normal: 'System';
      --font-medium: 'System';
      --font-semibold: 'System';
      --font-bold: 'System';
      --radius: 0.5rem;
    }
    @variant dark {
      --font-normal: 'System';
      --font-medium: 'System';
      --font-semibold: 'System';
      --font-bold: 'System';
      --radius: 0.5rem;
    }
  }
}
